@font-face {
  font-family: "Aqua Grotesque";
  src: url("../../fonts/Aqua-Grotesque/AquaGrotesque.eot");
  src: url("../../fonts/Aqua-Grotesque/AquaGrotesque.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Aqua-Grotesque/AquaGrotesque.woff2") format("woff2"),
    url("../../fonts/Aqua-Grotesque/AquaGrotesque.woff") format("woff"),
    url("../../fonts/Aqua-Grotesque/AquaGrotesque.ttf") format("truetype"),
    url("../../fonts/Aqua-Grotesque/AquaGrotesque.svg#AquaGrotesque")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
