@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@function breakpoint($breakpoint-name) {
  @return map-get($breakpoints, $breakpoint-name);
}

@function containerSize($container-size-name) {
  @return map-get($container-sizes, $container-size-name);
}
