$header-font: "Aqua Grotesque", sans-serif;
$content-font: "Open Sans", sans-serif;
$content-color: #ffffff;
$sky-blue: #67d0ff;
$light-blue: #009dff;
$middle-blue: #1345b5;
$dark-blue: #004f81;
$x-dark-blue: #00256c;
$black-blue: #03000a;
$dark-purple: #1e0081;
$middle-purple: #4e00ff;
$purple: #9e29dd;
$light-purple: #c5a0ff;
$aqua: #15ffed;
$cyan: #00aeb5;
$dark-cyan: #0075a0;
$container-sizes: (
  "large": 1640px,
  "medium": 1280px,
  "small": 1000px,
);
$font-weights: (
  "light": 300,
  "regular": 500,
  "bold": 700,
);
$breakpoints: (
  "desktop": 1280px,
  "tablet": 768px,
  "mobile": 480px,
);
