/* Fonts */

@font-face {
  font-family: "Aqua Grotesque";
  src: url("../fonts/Aqua-Grotesque/AquaGrotesque.eot");
  src: url("../fonts/Aqua-Grotesque/AquaGrotesque.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Aqua-Grotesque/AquaGrotesque.woff2") format("woff2"),
    url("../fonts/Aqua-Grotesque/AquaGrotesque.woff") format("woff"),
    url("../fonts/Aqua-Grotesque/AquaGrotesque.ttf") format("truetype"),
    url("../fonts/Aqua-Grotesque/AquaGrotesque.svg#AquaGrotesque") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --header-font: "Aqua Grotesque", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --sky-blue: #67d0ff;
  --light-blue: #009dff;
  --middle-blue: #1345b5;
  --dark-blue: #00256c;
  --black-blue: #03000a;
  --dark-purple: #1e0081;
  --middle-purple: #4e00ff;
  --light-purple: #c5a0ff;
  --teal: #15ffed;
  --aqua: #004f81;
}

/* Basics */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: black;
}

html {
  font-size: 18px;
}

@media (max-width: 1280px) {
  html {
  }
}

@media (max-width: 767px) {
  html {
  }
}

@media (max-width: 480px) {
  html {
  }
}

body {
  font-family: var(--body-font);
  font-weight: normal;
  color: white;
}

header {
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
}

header img {
  max-width: 50px;
  margin-right: 20px;
}

header h3 {
  margin: 0;
}

/* Containers */

[class*="container"] {
  width: 100%;
  padding: 110px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1640px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0 0 40px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  text-transform: uppercase;
}

h1 {
  font-size: 5.55rem;
  font-weight: 300;
  line-height: 145px;
}

h2 {
  font-size: 3.61rem;
  font-weight: 300;
}

p,
li {
  font-size: 1rem;
}
