.home h1 {
  text-align: center;
}

/* .home .banner {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--black-blue),
    var(--dark-blue),
    var(--black-blue)
  );
  display: flex;
  align-items: center;
  position: relative;
}

.home .banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    var(--black-blue)
  );
}

.home .banner .container-lg {
  position: relative;
  min-height: 100vh;
}

.home .banner .content-area {
  max-width: 80%;
  position: relative;
  z-index: 1;
  padding-top: 110px;
}

.home .banner .headshot img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: auto;
  padding-top: 110px;
}

.home .skills-services .bg-area {
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--black-blue),
    var(--dark-purple),
    var(--black-blue)
  );
}

.home .skills-services .bg-area:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--black-blue) 0%,
    transparent 15%,
    transparent 85%,
    var(--black-blue) 95%
  );
}

.home .skills-services .bg-area .brain-vid {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.home .skills-services .bg-area .container-lg {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .skills-services .bg-area .content-area {
  display: flex;
}

.home .skills-services .bg-area .content-area > div {
  flex: 0 0 40%;
}

.home .skills-services .bg-area .content-area .code-icons {
  margin: auto 0 0 auto;
  text-align: right;
}

.home .skills-services .bg-area .services-cta {
  text-align: center;
  padding-top: 100px;
}

.home .project-sift {
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--black-blue),
    var(--aqua),
    var(--black-blue)
  );
  display: flex;
  align-items: center;
  position: relative;
} */
