// Basics

html {
  font-size: 18px;
  font-weight: weight(regular);
}

body {
  @include content;
  background: $black-blue;
}

.header {
  @include flexCenter(row);
  padding: 20px;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;

  .logo {
    max-width: 50px;
    margin-right: 20px;

    &_text {
      margin: 0;
    }
  }

  @include tablet {
    @include flexCenter(column);
  }
}

.light {
  @include theme($light-theme: false);
}

// Containers

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  &-lg {
    @extend .container;
    max-width: containerSize(large);
  }

  &-md {
    @extend .container;
    max-width: containerSize(medium);
  }

  &-sm {
    @extend .container;
    max-width: containerSize(small);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings;
}

h1 {
  font-size: clamp(30px, 4.688vw, 100px);
  line-height: clamp(45px, 6.25vw, 145px);
}

h2 {
  font-size: clamp(30px, 3.906vw, 65px);
  line-height: clamp(40px, 5.469vw, 100px);
}

p,
li,
td {
  font-size: clamp(14px, 1.406vw, 18px);
  line-height: clamp(25px, 2.734vw, 35px);
  font-weight: weight(regular);
  margin: 0 0 40px 0;
}

// Color classes

.sky-blue {
  color: $sky-blue;
}

.light-purple {
  color: $light-purple;
}

.aqua {
  color: $aqua;
}

// Buttons
.blue-btn {
  @include button;
  background: linear-gradient(to right, $middle-blue, $light-blue);
}
