// Basics

html {
  font-size: 18px;
  font-weight: weight(regular);
  scroll-behavior: smooth;
}

body {
  @include content;
  background: $black-blue;
}

#header {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

  .main-ribbon {
    display: flex;
    align-items: center;
    margin-bottom: auto;

    .logo {
      pointer-events: initial;
      display: flex;
      align-items: center;

      .mark {
        max-width: clamp(40px, 4.688vw, 70px);
        margin-right: 20px;

        svg {
          width: 100%;
          height: auto;

          .a {
            fill: url(#a);
          }
        }
      }

      .name {
        margin: 0;
        overflow: hidden;
        font-size: clamp(20px, 1.563vw, 24px);

        span {
          position: relative;
          left: 0;
          transition: all 0.2s ease;
        }

        &.active span {
          left: -100%;
        }

        @include tablet {
          display: none;
        }
      }
    }

    #navigation {
      pointer-events: initial;
      margin-left: auto;

      .open-close {
        width: clamp(45px, 6.25vw, 80px);
        height: clamp(45px, 6.25vw, 80px);
        background: transparent;
        border-radius: 50%;
        border: 1px solid $sky-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
          width: clamp(17px, 2.344vw, 30px);
          height: 3px;
          display: block;
          background: $sky-blue;
          position: relative;
          top: 0;
          transition: all 0.2s ease;

          @include tablet {
            height: 1px;
          }

          &:nth-child(1) {
            margin-bottom: 7px;

            @include tablet {
              margin-bottom: 4px;
            }
          }

          &:nth-child(2) {
            margin-top: 7px;

            @include tablet {
              margin-top: 4px;
            }
          }
        }
      }

      #main-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: fixed;
      }

      &.active .open-close span {
        color: red;

        &:nth-child(1) {
          transform: rotate(45deg);
          top: 9px;

          @include tablet {
            top: 4px;
          }
        }

        &:nth-child(2) {
          transform: rotate(-45deg);
          top: -8px;

          @include tablet {
            top: -5px;
          }
        }
      }
    }
  }

  .sub-ribbon {
    display: flex;
    align-items: flex-end;

    .social {
      pointer-events: initial;

      .github {
        .a,
        .d {
          fill: $sky-blue;
        }
        .b,
        .f {
          fill: none;
        }
        .b {
          stroke: $sky-blue;
          stroke-width: 2px;
        }
        .c {
          clip-path: url(#a);
        }
        .d {
          fill-rule: evenodd;
        }
        .e {
          stroke: none;
        }
      }

      .twitter {
        .a,
        .b {
          fill: none;
        }
        .a {
          stroke: $sky-blue;
          stroke-width: 2px;
        }
        .c {
          fill: $sky-blue;
        }
        .d {
          stroke: none;
        }
      }

      .linkedin {
        .a {
          fill: $sky-blue;
        }
        .b,
        .e {
          fill: none;
        }
        .b {
          stroke: $sky-blue;
          stroke-width: 2px;
        }
        .c {
          clip-path: url(#a);
        }
        .d {
          stroke: none;
        }
      }
    }

    .dot-nav {
      pointer-events: initial;
      margin-left: auto;

      a {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 15px 0;
        position: relative;

        &:after {
          content: "";
          display: none;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &.active:after {
          display: block;
          animation-name: dotPulse;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }

        &.blue {
          background: $sky-blue;

          &:after {
            border: 2px solid $sky-blue;
          }
        }

        &.purple {
          background: $light-purple;

          &:after {
            border: 2px solid $light-purple;
          }
        }

        &.green {
          background: $aqua;

          &:after {
            border: 2px solid $aqua;
          }
        }

        &.white {
          background: white;

          &:after {
            border: 2px solid white;
          }
        }
      }
    }
  }
}

.light {
  @include theme($light-theme: false);
}

// Containers

.container {
  width: 100%;
  padding-left: clamp(20px, 7.813vw, 100px);
  padding-right: clamp(20px, 7.813vw, 100px);
  margin: 0 auto;

  &-lg {
    @extend .container;
    max-width: containerSize(large);
  }

  &-md {
    @extend .container;
    max-width: containerSize(medium);
  }

  &-sm {
    @extend .container;
    max-width: containerSize(small);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings;
}

h1 {
  font-size: clamp(30px, 4.688vw, 100px);
  line-height: clamp(45px, 6.25vw, 145px);
}

h2 {
  font-size: clamp(30px, 3.906vw, 65px);
  line-height: clamp(40px, 5.469vw, 100px);
}

p,
li,
td {
  font-size: clamp(14px, 1.406vw, 18px);
  line-height: clamp(25px, 2.734vw, 35px);
  font-weight: weight(regular);
  margin: 0 0 40px 0;
}

// Color classes

.sky-blue {
  color: $sky-blue;
}

.light-purple {
  color: $light-purple;
}

.aqua {
  color: $aqua;
}

// Buttons
.blue-btn {
  @include button;
  background: linear-gradient(to right, $middle-blue, $light-blue);
}
