.home {
  background: $x-dark-blue;

  &:after {
    @include overlay;
    position: fixed;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(
      to bottom,
      $black-blue,
      transparent,
      $black-blue
    );
  }

  .section {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 100px;

    .wrapper {
      position: relative;
    }

    @include tablet {
      padding-left: 20px;
      padding-right: 20px;

      &:not(:first-child) {
        min-height: initial;
      }

      &:not(:last-child) {
        padding-bottom: 0;
      }
    }
  }

  .banner {
    display: flex !important;
    align-items: center;

    .content {
      width: 70%;
      position: relative;
      z-index: 3;

      @include tablet {
        width: 100%;
        padding: 30px 0 50px 0;

        h1,
        .ctas {
          text-align: center;
        }

        .intro {
          display: none;
        }
      }
    }

    .headshot {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 175%;

      img {
        opacity: 0.9;
        width: auto;
        height: 100%;
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 70%,
          rgba(0, 0, 0, 0) 100%
        );

        @include tablet {
          width: 100%;
          height: auto;
        }
      }

      @include tablet {
        position: relative;
        top: 0;
        transform: translateY(0%);
        height: 100%;
      }
    }
  }

  .skills-services {
  }

  .projects {
  }
}
