#home {
  background: $x-dark-blue;

  &:after {
    @include overlay;
    position: fixed;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(
      to bottom,
      $black-blue,
      transparent,
      $black-blue
    );
  }

  .dot-nav {
    position: fixed;
    z-index: 999999;
    bottom: 20px;
    right: 20px;
    pointer-events: initial;
    margin-left: auto;

    @include tablet {
      display: none;
    }

    a {
      display: block;
      width: clamp(15px, 1.953vw, 25px);
      height: clamp(15px, 1.953vw, 25px);
      border-radius: 50%;
      margin: 15px 0;
      position: relative;

      span {
        position: absolute;
        right: -1000%;
      }

      &:after {
        content: "";
        display: none;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.active:after {
        display: block;
        animation-name: dotPulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }

      &.blue {
        background: $sky-blue;

        &:after {
          border: 2px solid $sky-blue;
        }
      }

      &.purple {
        background: $light-purple;

        &:after {
          border: 2px solid $light-purple;
        }
      }

      &.green {
        background: $aqua;

        &:after {
          border: 2px solid $aqua;
        }
      }

      &.white {
        background: white;

        &:after {
          border: 2px solid white;
        }
      }
    }
  }

  .section {
    position: relative;
    z-index: 1;
    padding: 100px 0;

    .wrapper {
      position: relative;
    }

    @include tablet {
      &:not(:first-child) {
        min-height: initial;
      }

      &:not(:last-child) {
        padding-bottom: 0;
      }
    }
  }

  #banner {
    min-height: 100vh;
    display: flex !important;
    align-items: center;

    .content {
      width: 70%;
      position: relative;
      z-index: 3;

      @include tablet {
        width: 100%;
        padding: 30px 0 50px 0;

        h1,
        .ctas {
          text-align: center;
        }

        .intro {
          display: none;
        }
      }
    }

    .headshot {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 175%;

      img {
        opacity: 0.9;
        width: auto;
        height: 100%;
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 70%,
          rgba(0, 0, 0, 0) 100%
        );

        @include tablet {
          width: 100%;
          height: auto;
        }
      }

      @include tablet {
        position: relative;
        top: 0;
        transform: translateY(0%);
        height: 100%;
      }
    }
  }

  #skills-services {
    .brain-video {
      width: auto;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  #projects {
  }
}
