.home {
  background: $x-dark-blue;

  &:after {
    @include overlay;
    position: fixed;
    z-index: 0;
    background: linear-gradient(
      to bottom,
      $black-blue,
      transparent,
      $black-blue
    );
  }

  .section {
    min-height: 100vh;
    z-index: 1;
    padding: 100px 0;

    @include tablet {
      &:not(:first-child) {
        min-height: initial;
      }

      &:not(:last-child) {
        padding-bottom: 0;
      }
    }
  }

  .banner {
    display: flex !important;
    align-items: center;
    position: relative;

    .content {
      width: 60%;
      position: relative;
      z-index: 3;

      @include tablet {
        width: 100%;
        padding: 30px 0 50px 0;

        h1,
        .ctas {
          text-align: center;
        }

        .intro {
          display: none;
        }
      }
    }

    .headshot {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;

      img {
        opacity: 0.9;
        width: 100%;
        height: auto;
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 70%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      @include tablet {
        position: relative;
      }
    }
  }

  .skills-services {
  }

  .projects {
  }
}
