.home {
  background: $x-dark-blue;

  &:after {
    @include overlay;
    position: fixed;
    z-index: 0;
    background: linear-gradient(
      to bottom,
      $black-blue,
      transparent,
      $black-blue
    );
  }

  .section {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding: 100px 0;
  }

  .banner {
    min-height: 100vh;
    display: flex !important;
    align-items: center;
    position: relative;

    .content {
      width: 60%;
      position: relative;
      z-index: 3;

      @include tablet {
        width: 100%;
      }
    }

    .headshot {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;

      img {
        opacity: 80%;
        width: 100%;
        height: auto;
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 70%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }

  .skills-services {
  }

  .projects {
  }
}
