// Partials
@import "./partials/resets";
@import "./partials/fonts";
@import "./partials/variables";
@import "./partials/animations";
@import "./partials/functions";
@import "./partials/mixins";

// All Sheets
@import "global.scss";
@import "home.scss";
